
@{
    ViewBag.Title = "Menu";
    Layout = "~/Areas/Main/Views/Shared/_Menulayout.cshtml";
}
<link href="~/Estilos/Style4.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<ul class="ul-menu" style="color: black;">
    <li onclick="location.href='@Url.Action("Reporte","PersonalAdmin",new { Area = "PersonalAdmin" })';">
        <span class="name">Registro Situacional</span>
        <span><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
    </li>
    <li onclick="location.href='@Url.Action("Index","PersonaTriaje",new { Area = "AreaPersonaTriaje" })';">
        <span class="name">Triaje Digital</span>
        <span><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
    </li>
    <li>
        <span class="name">Registro de personas en extrema pobreza</span>
        <span><i class="fa fa-book" aria-hidden="true"></i></span>
    </li>
    <li>
        <span class="name">Registro de donaciones</span>
        <span><i class="fa fa-cart-plus" aria-hidden="true"></i></span>
    </li>
</ul>