body {
    margin: 0;
    padding: 0;
    background-image: url("../Images/backlogin2.png");    
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.ul-menu {
    position: relative;
    width: 80%;
    margin: 100px auto 0;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.01);
    box-shadow: inset rgba(0,0,0,0.8) 0 0 10px;
    overflow: hidden;
    border-radius: 20px;
    background: #ffffff;
}

    .ul-menu li {
        display: flex;
        background: rgba(255, 86, 86, 0.1);
        padding: 10px 20px;
        font-size: 30px;
        margin: 10px 0;
        transition: 0.5s;
        cursor: pointer;
        user-select: none;
    }

        .ul-menu li:nth-child(1) {
            background: rgba(255, 86, 86, 1);
        }

        .ul-menu li:nth-child(2) {
            background: rgba(255, 86, 86, 0.8);
        }

        .ul-menu li:nth-child(3) {
            background: rgba(255, 86, 86, 0.6);
        }

        .ul-menu li:nth-child(4) {
            background: rgba(255, 86, 86, 0.4);
        }

        .ul-menu li:nth-child(5) {
            background: rgba(255, 86, 86, 0.2);
        }

        .ul-menu li span:nth-child(1) {
            width: 1000px;
            padding-left: 30px;
        }

        .ul-menu li span:nth-child(2) {
            width: 700px;
            text-align: right;
            padding-right: 50px;
            float: right
        }

        .ul-menu li:hover {
            transform: scale(1.06);
            background: #ffffff;
        }
