@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;   
    font-family: "montserrat", sans-serif;
    text-decoration: none;
    
    }
.text-center {
    text-align: center !important;
}
.subtitle-text {
    font-size: 60px;
    line-height: 100px;
    color: #f74343;
}
.main-text {
    font-size: 30px;
}
.paragraph-text {
    font-size: 25px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /* align vertical */
    justify-content: center;
}
.menu-btn{
    cursor: pointer;
    text-decoration: none;
    background-color: black;
    color: #ffffff;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all ease-in-out 0.4s;
}
.menu-btn:hover{
    color: #ff7979;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.wrapper{
    padding: 0px;
    text-align: justify;
}
.page-section {
    padding: 80px 0;
}
#ayudar.page-section {
    padding: 80px 40px;
}
.title-text{
    color: black;
    font-size: 60px;
    font-weight: 900;
    background-color:rgba(255, 255, 255, 0.70);
}
.banner-area{
    background: url('../Images/masterhead.jpg') no-repeat center fixed;     
    background-size: cover;
    background-position: center center;
    height:100vh;
    z-index: 1;
}
.banner-text{
    position: absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    z-index: 222;
}

.header{
    height: 100px;
    width: 100%;
    background:transparent ;
    padding: 0 20px;
    color: #ffffff;
    position: fixed;
    transition: ease-in-out 0.4s;
    z-index: 10000;
    
}
.logo {
    line-height: 100px;
    float: left;
    padding-left: 60px;
    text-transform: uppercase;
    transition: ease-in-out 0.4s;
    cursor: pointer;
    color: black;
}
.menu {
    float: right;
    padding-right: 60px;
    line-height: 100px;
    transition: ease-in-out 0.4s;
    z-index: 9999;
}
.menu a{
    color: black;
    padding: 0px 10px;
    text-transform: uppercase;
    transition: color ease-in-out 0.4s;
}

.show-menu-btn,.hide-menu-btn{
    transition: ease-in-out 0.4s;
    font-size: 40px;
    cursor: pointer;
    display: none;
    
}
.show-menu-btn{
    float: right;
    padding: 5px;
    line-height: 100px;
}
.hide-menu-btn{
    float: right;
    line-height: 10px;
    padding: 0px;
    margin-left: 20px;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -111;
}
.menu a:hover{color: #ff7979;}

.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #ff7979;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}


.content .backimage{
    width: 100%;
    max-width: 700px;
}
@media screen and (max-width:800px){
    h2.logo{
        padding : 0px 0px 0px 0px;
    }
    .subtitle-text {
        font-size: 30px;
        line-height: 30px;
        color: #f74343;
    }
    .paragraph-text {
        font-size: 12px;
    }
    .main-text {
        font-size: 15px;
    }
    .title-text{
        font-size: 40px;
    }
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0px;
        line-height: 80px;
        
        transition: ease-in 0.7s;
        z-index: 9999;
    }
    .menu a{
        display: block;
        padding: 20px;
    }

    .hide-menu-btn{
        position: absolute;
        top:40px;
        right: 40px;
    }
   #chk:checked ~ .menu{
        right: 0;
   }
   .wrapper{
    padding: 30px;
   }
}

/* PAMPARAAA ANIMACION */
#navbar.cus-nav {
    background-color: #262626;
    height: 80px;
    transition: ease-in-out 0.4s;
    
}

#navbar.cus-nav h2.logo{
    line-height: 80px;
    float: left;
    text-transform: uppercase;
    transition: ease-in-out 0.4s;
    color: white;
}
#navbar.cus-nav ul.menu{
    line-height: 80px;
}
#navbar.cus-nav ul.menu a{
    line-height: 80px;
    color: white;
}
#navbar.cus-nav ul.menu a:hover {
    color: #ff7979;
}
@media screen and (max-width:800px){
    #navbar.cus-nav ul.menu{
        line-height: 80px;   
    }
    #navbar.cus-nav label.show-menu-btn{
        float: right;
        line-height: 80px;
    }

}
/* PAMPARAAA ANIMACION */