@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
#bodyLogin {
    background-image: url("../Images/map-image.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(235, 59, 59, 0.90);
    font-family: "montserrat", sans-serif;
}

.login-box {
    width: 320px;
    height: 350px;
    background: #a9a9a9;
    border: 2px solid #cb3333;
    border-radius: 20px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
}

    .login-box .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        top: -25px;
        left: calc(50% - 30px);
        background-color:black;
    }

    .login-box h1 {
        margin: 0;
        padding: 0 0 30px;
        text-align: center;
        font-size: 22px;
    }

    .login-box label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
    }

    .login-box input {
        width: 100%;
        margin-bottom: 20px;
    }

        .login-box input[type="text"], .login-box input[type="password"] {
            border:none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .login-box input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            background: #b80f22;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
            -moz-transition: all 0.8s;
            -webkit-transition: all 0.8s;
            transition: all 0.8s;
        }

            .login-box input[type="submit"]:hover {
                cursor: pointer;
                background: #000000;
                color: #fff;
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }

    .login-box a {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: white;
    }

        .login-box a:hover {
            color: #fff;
        }
