<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - #YoApoyoPeru</title>
    <link href="~/Estilos/Style1.css" rel="stylesheet" type="text/css" />
    <link href="~/Estilos/Style.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    @RenderBody()
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
